@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --nds-semantic-color-brand-primary: #1792FF;
        --nds-semantic-color-brand-secondary: #FFFFFF;
        --nds-semantic-color-brand-tertiary: #1D1A27;
        --nds-semantic-color-bg: rgba(255, 255, 255, 0.95);
        --nds-semantic-color-bg-secondary: #FFFFFF;
        --nds-semantic-color-bg-accent: linear-gradient(146deg, #1792FF 13.98%, #0053B5 86.02%);
        --nds-semantic-color-surface-button-primary: #0D6ECC;
        --nds-semantic-color-surface-button-primary-hovered: linear-gradient(150.31deg, #1792FF 9.54%, #0053B5 97.47%);
        --nds-semantic-color-surface-button-primary-inactive: #676376;
        --nds-semantic-color-surface-button-primary-disabled: #4F4A60;
        --nds-semantic-color-surface-button-highlight: linear-gradient(150.31deg, #1792FF 9.54%, #0053B5 97.47%);
        --nds-semantic-color-surface-button-highlight-hovered: linear-gradient(148.17deg, rgba(255, 255, 255, 0) 14.94%, rgba(255, 255, 255, 0.15) 46.01%, rgba(255, 255, 255, 0) 82.06%), linear-gradient(150.31deg, #1792FF 9.54%, #0053B5 97.47%);
        --nds-semantic-color-surface-button-highlight-disabled: #4F4A60;
        --nds-semantic-color-surface-button-critical: #CC154A;
        --nds-semantic-color-surface-button-critical-hovered: linear-gradient(138.98deg, #FF2866 -15.44%, #CC154A 48.17%, #990831 113.1%);
        --nds-semantic-color-surface-button-critical-disabled: #4F4A60;
        --nds-semantic-color-surface-button-outlined-hovered: linear-gradient(150.31deg, #1792FF 9.54%, #0053B5 97.47%);
        --nds-semantic-color-surface-button-neutral: #FFFFFF;
        --nds-semantic-color-surface-button-neutral-hovered: #FFFFFF;
        --nds-semantic-color-surface-button-neutral-disabled: #FFFFFF;
        --nds-semantic-color-surface-button-subtle: rgba(29, 26, 39, 0.1);
        --nds-semantic-color-surface-button-subtle-hovered: #4F4A60;
        --nds-semantic-color-surface-button-subtle-disabled: rgba(29, 26, 39, 0.1);
        --nds-semantic-color-surface-illustration: rgba(255, 255, 255, 0.1);
        --nds-semantic-color-surface-tag: #05816C;
        --nds-semantic-color-surface-critical: #CC154A;
        --nds-semantic-color-surface-success: #05816C;
        --nds-semantic-color-surface-progress: #0D6ECC;
        --nds-semantic-color-surface-decorative-basic: linear-gradient(140deg, #4F4A60 15.72%, #37324A 51.5%, #1D1A27 85.49%);
        --nds-semantic-color-surface-decorative-success: linear-gradient(144deg, #14B69A 13.65%, #0B9B83 56.97%, #05816C 99.48%);
        --nds-semantic-color-surface-decorative-1: linear-gradient(143.43deg, #9665FD 11.19%, #5123B2 100%);
        --nds-semantic-color-surface-decorative-2: linear-gradient(141.98deg, #FF5C28 5.48%, #993908 89.54%);
        --nds-semantic-color-surface-decorative-3: linear-gradient(133deg, #19DEEB 16.17%, #0BCBD8 35.11%, #00B7C4 84.96%);
        --nds-semantic-color-surface-ghost-heavy: rgba(198, 196, 206, 0.5);
        --nds-semantic-color-surface-ghost-medium: rgba(198, 196, 206, 0.5);
        --nds-semantic-color-surface-ghost-light: rgba(255, 255, 255, 0.5);
        --nds-semantic-color-on-button-primary: rgba(255, 255, 255, 0.1);
        --nds-semantic-color-on-button-primary-hovered: #FFFFFF;
        --nds-semantic-color-on-button-primary-inactive: #FFFFFF;
        --nds-semantic-color-on-button-primary-disabled: #AEACB8;
        --nds-semantic-color-on-button-highlight: #FFFFFF;
        --nds-semantic-color-on-button-highlight-hovered: #FFFFFF;
        --nds-semantic-color-on-button-highlight-disabled: #AEACB8;
        --nds-semantic-color-on-button-critical: #FFFFFF;
        --nds-semantic-color-on-button-critical-hovered: #FFFFFF;
        --nds-semantic-color-on-button-critical-disabled: #AEACB8;
        --nds-semantic-color-on-button-success: #FFFFFF;
        --nds-semantic-color-on-button-outlined: #0D6ECC;
        --nds-semantic-color-on-button-outlined-hovered: #FFFFFF;
        --nds-semantic-color-on-button-outlined-disabled: #676376;
        --nds-semantic-color-on-button-neutral: #4F4A60;
        --nds-semantic-color-on-button-neutral-hovered: #0D6ECC;
        --nds-semantic-color-on-button-neutral-disabled: #AEACB8;
        --nds-semantic-color-on-button-subtle: #4F4A60;
        --nds-semantic-color-on-button-subtle-hovered: #FFFFFF;
        --nds-semantic-color-on-button-subtle-disabled: #4F4A60;
        --nds-semantic-color-on-button-transparent: #0D6ECC;
        --nds-semantic-color-on-button-transparent-hovered: #054D99;
        --nds-semantic-color-on-button-transparent-disabled: #676376;
        --nds-semantic-color-on-critical: #FFFFFF;
        --nds-semantic-color-on-success: #FFFFFF;
        --nds-semantic-color-on-progress: #0D6ECC;
        --nds-semantic-color-on-decorative: #FFFFFF;
        --nds-semantic-color-on-ghost: #676376;
        --nds-semantic-color-text: #37324A;
        --nds-semantic-color-text-emphasis: #1D1A27;
        --nds-semantic-color-text-subdued: #676376;
        --nds-semantic-color-text-placeholder: #9693A2;
        --nds-semantic-color-text-critical: #CC154A;
        --nds-semantic-color-text-success: #05816C;
        --nds-semantic-color-text-warning: #996600;
        --nds-semantic-color-icon: #4F4A60;
        --nds-semantic-color-icon-subtle: #9693A2;
        --nds-semantic-color-icon-active: #0D6ECC;
        --nds-semantic-color-icon-inactive: #676376;
        --nds-semantic-color-icon-critical: #CC154A;
        --nds-semantic-color-icon-success: #05816C;
        --nds-semantic-color-icon-warning: #996600;
        --nds-semantic-color-icon-progress: #0D6ECC;
        --nds-semantic-color-icon-illustration: #4F4A60;
        --nds-semantic-color-border-highlight: linear-gradient(309.14deg, rgba(255, 255, 255, 0.4) -0.7%, rgba(255, 255, 255, 0) 30.55%, rgba(255, 255, 255, 0) 70.97%, rgba(255, 255, 255, 0.4) 99.23%);
        --nds-semantic-color-border-highlight-hovered: linear-gradient(50.19deg, rgba(255, 255, 255, 0.4) -2.49%, rgba(255, 255, 255, 0) 29.57%, rgba(255, 255, 255, 0) 71.02%, rgba(255, 255, 255, 0.4) 100%);
        --nds-semantic-color-border-outlined: #0D6ECC;
        --nds-semantic-color-border-outlined-disabled: #4F4A60;
        --nds-semantic-color-border-input: #AEACB8;
        --nds-semantic-color-border-input-selected: #1792FF;
        --nds-semantic-color-border-critical: #CC154A;
        --nds-semantic-color-border-success: #05816C;
        --nds-semantic-color-border-warning: #996600;
        --nds-semantic-color-border-decorative: #FFFFFF;
        --nds-semantic-color-border-alert: #676376;
        --nds-semantic-color-border-menu: #F6F5FA;
        --nds-semantic-color-border-illustration: rgba(255, 255, 255, 0.3);
        --nds-semantic-color-surface-default: #FFFFFF;
        --nds-semantic-color-surface-default-hover: #F2F8FF;
        --nds-semantic-color-surface-default-selected: #0D6ECC;
        
        --color-gray-200: 247, 245, 250;
        --color-gray-400: 176, 172, 184;
        --color-gray-300: 198, 196, 20;
        --color-gray-300-transparent: 198, 196, 206, 0.5;
        --color-gray-500: 174, 172, 184;
        --color-gray-500-transparent: 174, 172, 184, 0.5;
        --color-gray-600: 152, 147, 162;
        --color-gray-700: 128, 123, 140;
        --color-gray-800: 105, 99, 118;
        --color-gray-900: 81, 74, 96;
        --color-gray-900-transparent: 29, 26, 39, 0.05;
        --color-primary-gray: 57, 50, 74;
        --color-primary-light: 13, 110, 204;
        --color-primary-yellow: 255, 171, 0;
        --color-tertiary-red: 255, 40, 102;
        --color-red-600: 255, 40, 102;
        --color-tertiary-green: 20, 182, 154;
        --color-white-transparent: 255, 255, 255, 0.5;

        --nds-core-font-xs: 13.89px;
        --nds-core-font-2xs: 15.28px;
        --nds-core-font-sm: 16.67px;
        --nds-core-font-md: 19.44px;
        --nds-core-font-lg: 23.61px;
        --nds-core-font-xl: 30.55px;
        --nds-core-font-3xl: 48.61px;
        --nds-core-border-white: '1.5px solid #FFFFFF';
    }
    .dark {
        --nds-semantic-color-brand-bg: linear-gradient(140deg, #4F4A60 15.72%, #37324A 51.5%, #1D1A27 85.49%);
        --nds-semantic-color-brand-bg-accent: linear-gradient(146deg, #1792FF 13.98%, #0053B5 86.02%);
        --nds-semantic-color-surface-button-outlined-hovered: linear-gradient(150.31deg, #1792FF 9.54%, #0053B5 97.47%);
        --nds-semantic-color-surface-button-subtle: rgba(255, 255, 255, 0.1);
        --nds-semantic-color-surface-button-subtle-hovered: #FFFFFF;
        --nds-semantic-color-surface-button-subtle-disabled: rgba(255, 255, 255, 0.1);
        --nds-semantic-color-surface-input-selected: rgba(29, 26, 39, 0.1);
        --nds-semantic-color-surface-critical: #FF8BAF;
        --nds-semantic-color-surface-progress: #81C5FF;
        --nds-semantic-color-on-button-outlined: #81C5FF;
        --nds-semantic-color-on-button-outlined-hovered: #FFFFFF;
        --nds-semantic-color-on-button-outlined-disabled: #9693A2;
        --nds-semantic-color-on-button-subtle: #F6F5FA;
        --nds-semantic-color-on-button-subtle-hovered: #0D6ECC;
        --nds-semantic-color-on-button-subtle-disabled: #F6F5FA;
        --nds-semantic-color-on-button-transparent: #81C5FF;
        --nds-semantic-color-on-button-transparent-hovered: #B9E2FF;
        --nds-semantic-color-on-button-transparent-disabled: #9693A2;
        --nds-semantic-color-on-critical: #1D1A27;
        --nds-semantic-color-on-progress: #1D1A27;
        --nds-semantic-color-text: rgba(255, 255, 255, 0.95);
        --nds-semantic-color-text-emphasis: #FFFFFF;
        --nds-semantic-color-text-subdued: rgba(255, 255, 255, 0.8);
        --nds-semantic-color-text-placeholder: rgba(255, 255, 255, 0.5);
        --nds-semantic-color-text-critical: #FF8BAF;
        --nds-semantic-color-text-success: #14B69A;
        --nds-semantic-color-icon-basic: rgba(255, 255, 255, 0.8);
        --nds-semantic-color-icon-subtle: rgba(255, 255, 255, 0.7);
        --nds-semantic-color-icon-critical: #FF8BAF;
        --nds-semantic-color-icon-progress: #81C5FF;
        --nds-semantic-color-icon-illustration: #FFFFFF;
        --nds-semantic-color-border-basic: #FFFFFF;
        --nds-semantic-color-border-basic-selected: #FFFFFF;
        --nds-semantic-color-border-outlined: #81C5FF;
        --nds-semantic-color-border-outlined-disabled: #676376;
        --nds-semantic-color-border-critical: #FF8BAF;
        --nds-semantic-color-border-alert: rgba(255, 255, 255, 0.8);
        --nds-semantic-color-surface-default: #1D1A27;
        --nds-semantic-color-surface-default-hover: rgba(255, 255, 255, 0.1);
        --nds-semantic-color-surface-default-selected: #0D6ECC;
    }
}